.instilogo {
    height: 50px;
    filter: grayscale(20%);
}

/* Link styling - blue color */
a {
    color: #007 !important;
    text-decoration: none !important;
}

a:hover {
    /* font-weight: 400; */
    text-decoration: none !important;
    transition-duration: 0.3s;
    transition-timing-function: linear;
    /* color: #444; */
}


.noter {
    font-size: 9pt;
}

.tagsep {
    padding: 4px;
}

.tag {
    padding-right: 2px;
    color: #007;
    text-decoration: none;
}

.tag:hover {
    text-decoration: none;
}

.papertitle {
    font-weight: 400;
    color: #007;
}

.thisauthor {
    color: #111;
    font-weight: 400;
}

.confshort {
    font-weight: 300;
}

.conf {
    display: inline-block;
    padding-bottom: 4px;
}

.paper {
    border-left: 1px solid #ddd;
}

.header-1 {
    font-size: 18pt;
    color: #007;
    font-weight: 400;
}

.in-text {
    color: #007;
    text-decoration: none;
}

.in-text:hover {
    text-decoration: none;
    color: #005;
}

.menulink:hover {
    color: #111;
}

.profilepic {
    width: 150px;
    border-radius: 40%;
    filter: grayscale(30%);
}

.sideimg {
    width: 110%;
    border: 1px solid #ccc;
}

@media (min-width: 768px) {
    .fixed-posi {
        /* width: 50%;
            margin-left: 50%;
            min-height:100%; */
        position: fixed;
    }
}

@media only screen and (max-width: 900px) {
    .allstuff {
        padding-top: 0px !important;
    }

    .allstuffp {
        padding-top: 0px !important;
    }

    .profilepic {
        width: 90px;
        border-radius: 40%;
        padding-top: 0px !important;
        padding-bottom: 0px !important;
        filter: grayscale(30%);
    }

    .menur {
        padding-top: 18px !important;
    }

    .sideimg {
        display: none;
    }

}

/* .thisauthor {
          color: #111;
          text-decoration: underline;
    } */
